@page "/restore/{id:int}"
@using BlazorApp1.Models
@inject BlazorApp1.Data.MyService MyService
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>Details to Delete</h3>
@if (Employee != null)
{
    <EditForm Model="@Employee">
        <ul class="row forumBox">
            <li class="col-3">
                <label class="inputLabel">Employee ID:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="Employee.EMPID" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee Name</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="Employee.EMPNAME" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee Designation:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="Employee.EMP_DESIGNATION" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee salary:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="Employee.EMP_SALARY" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee Email:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="Employee.EMP_EMAIL" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee Age:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="Employee.EMP_AGE" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Employee Skills:</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="@skillname" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-12 mt_20">
                <div class="form_btns">
                    <button type="button" class="common_btn btnBlue" @onclick="() => RestoreEmployee(Employee)">Restore</button>
                    <button type="button" class="common_btn btnBlue" @onclick="BackToList">Cancel</button>
                </div>
            </li>
        </ul>
    </EditForm>
}

