<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@(collapseNavMenu ? "collapse" : "")" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div>
            <div class="sidebar_list my-scrollbar nav-item px-3">
                <div class="leftBox">
                    <div class="color_white bg_accent sidebar_dropdown has_list nav-item px-3" style="color:white; text-align: center; cursor:pointer">
                        <span class="oi oi-person" aria-hidden="true"></span> EmployeeData
                    </div>
                    <div class="hidden_list" style="display: @(collapseNavMenu ? "none" : "block")">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="insertemployee">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> ADD
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="updateemployee">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> UPDATE
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="deleteemployee">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> DELETE
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="mypage">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> VIEW
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="deletedemployee">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> RESTORE
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
            collapseNavMenu = !collapseNavMenu;
            StateHasChanged();
    }
}